{% load instargram_tags %}
{% load humanize %}
{% load bootstrap4 %}

<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar_url }}" style="width:24px;">
        <a href="{% url "instargram:user_page" post.author.username %}">
            {{ post.author.username }}
        </a>
    </div>

    <div class="card-body">
        <img src="{{ post.photo.url }}" style="width:100%;">
    </div>

    <div>
        {% if post|is_like_user:user %}
            <a href="{% url "instargram:post_unlike" post.pk %}" style="color: inherit;">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href="{% url "instargram:post_like" post.pk %}" style="color: inherit;">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>

    <div id="post-{{ post.pk }}-comment-list" class="comment-list mt-3 mb-3">
        {% for comment in post.comment_set.all %}
            {% include 'instargram/_comment.html'  %}
        {% endfor %}
    </div>

    <div>
        {% for tag in post.tag_set.all %}
            <span class="badge badge-primary">
                #{{ tag.name }}
            </span>
        {% endfor %}
    </div>

    <div>
        <a href="{{ post.get_absolute_url }}" style="" class="text-muted">
            <small>
                {{ post.created_at|naturaltime }}
            </small>
        </a>
    </div>

    <div class="card-footer">
        <form id="post-{{ post.pk }}-comment-form" action= "{% url "instargram:comment_new" post.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block">
        </form>

        <script>
            jQuery(function() {
                var form_id = "post-{{ post.pk }}-comment-form";
                $("#" + form_id).submit(function(e) {
                    e.preventDefault();

                    var options = {
                        success:function (responseText, statusText, xhr, $form) {
                            console.group("ajaxSubmit response");
                            console.log(responseText);
                            console.log(statusText);
                            console.log(xhr);
                            console.log($form);
                            console.groupEnd();

                            $("#post-6-comment-list").prepend(responseText);
                        }
                    };
                    $(this).ajaxSubmit(options); {
                    };
                    console.log("submit!");
                });
                console.log("document ready.");
            });
        </script>
    </div>
</div>